<h1>SnackBar demo</h1>
<div>
  <div>
    Message: <!--mat-form-field><input mat-input type="text" [(ngModel)]="message"></mat-form-field-->
  </div>
  <div>
    <mat-checkbox [(ngModel)]="action">
      <p *ngIf="!action">Show button on snack bar</p>
      <!--mat-form-field *ngIf="action">
        <input mat-input
               type="text"
               class="demo-button-label-input"
               placeholder="Snack bar action label"
               [(ngModel)]="actionButtonLabel">
      </mat-form-field-->
    </mat-checkbox>
  </div>
  <div>
    <mat-checkbox [(ngModel)]="setAutoHide">
      <p *ngIf="!setAutoHide">Auto hide after duration</p>
      <!--mat-form-field *ngIf="setAutoHide">
        <input mat-input
               type="number"
               class="demo-button-label-input"
               placeholder="Auto Hide Duration in ms"
               [(ngModel)]="autoHide">
      </mat-form-field-->
    </mat-checkbox>
  </div>
</div>

<button mat-raised-button (click)="open()">OPEN</button>
